<a href="https://colab.research.google.com/github/ds2025-col/dsmethod1/blob/main/dsmethod.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=(1,2,'ann')
print(a)
print(a[-3:-1])

(1, 2, 'ann')
(1, 2)

In [ ]:
a=(1,2,4)
del a  #delete

**SET**

In [ ]:
a={1,2,3,4}
b={1,5,9,8}
print(a.union(b))
print(a.intersection(b))

{1, 2, 3, 4, 5, 8, 9}
{1}

In [ ]:
a.difference(b)

{2, 3, 4}

In [ ]:
a.update(b)
print(a)

{1, 2, 3, 4, 5, 8, 9}

In [ ]:
a.add(7)
print(a)

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
a.issubset(b)
print(a.issubset(b))

False

In [ ]:
a.issuperset(b)
print(a.issuperset(b))

True

In [ ]:
a={1,2,3,4}
a.remove(4)
print(a)
print(a.pop())
print(a)

{1, 2, 3}
1
{2, 3}

**DICTIONARY**

In [ ]:
X={'NAME':'ANN','AGE':12,'PLACE':'PMMNA'}
print(X['NAME'])

ANN

In [ ]:
X['NAME']='ANU' #REPLACE
print(X)

{'NAME': 'ANU', 'AGE': 12, 'PLACE': 'PMMNA'}

In [ ]:
print(X.get('PLACE'))

PMMNA

In [ ]:
Y={'rollno' :20}
print(X.update(Y))
print(X)

None
{'NAME': 'ANU', 'AGE': 12, 'PLACE': 'PMMNA', 'ANNA': 20, 'KKV': 15, 'rollno': 20}

In [ ]:
print(X.keys())

dict_keys(['NAME', 'AGE', 'PLACE', 'ANNA', 'KKV'])

In [ ]:
X.values()

dict_values(['ANU', 12, 'PMMNA', 20, 15])

In [ ]:
print(X.pop('ANNA'))
print(X)

20
{'NAME': 'ANU', 'AGE': 12, 'PLACE': 'PMMNA', 'rollno': 20}

In [ ]:
print(X.clear())
print(X)

None
{}

In [ ]:
X={'NAME':'ANN','AGE':12,'PLACE':'PMMNA'}
print(X.pop('NAME'))
print(X)

ANN
{'AGE': 12, 'PLACE': 'PMMNA'}

In [ ]:
from collections import OrderedDict

X = OrderedDict([('AGE', 12), ('PLACE', 'PMMNA')])             # Convert to OrderedDict
X.update({'name':'ra'})
X.move_to_end('name', last=False)                               # Now move_to_end works
print(X)

OrderedDict([('name', 'ra'), ('AGE', 12), ('PLACE', 'PMMNA')])

**string**

In [ ]:
a='hallo world'  #string
print(a)
print(a[2:8])

hallo world
llo wo

In [ ]:
x={'name':'raju','age': 10}
y=[]
for i in x:
  y.append(i)
print(y)

['name', 'age']

In [ ]:
x=[{'name':'raju','salary':10000,'job':'manager'},{'name':'sam','salary':12000,'job':'devloper'},{'name':'ann','salary':15000,'job':'tester'}]
for i in x:
  if i['salary']>10000:
    print(i['name'])
  elif  i['job']=='manager':
      print(i['name'])

raju
sam
ann

In [ ]:
n=[]
prime=[]
composite=[]
x=int(input('enter the number'))
n.append(x)
if x%2==0:
  composite.append(x)
else:
    prime.append(x)
print(prime)
print(composite)

while loop we can exicute a set of statement as long as the condition is true

jumbing statements:-pass,continue,break

In [ ]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
  if i==7:
    continue
  print(i)

0
1
2
3
4
5
6
8
9

In [ ]:
for i in range(5):
  pass
print('hi')

hi

In [ ]:
while True:
  age=int(input('enter your age:'))
  if age>60:
    print('you are not elogible')
  else:
      print('you are eligible')

  x=input('if you want continue enter yes otherwise no \n ')
  if x=='no':
    print('thanks')

In [ ]:
while True:
  num=int(input('enter the num'))
  if num>=18:
    print('your are mature')
  else:
    print('you are not mature')
  break

enter the num12
you are not mature

In [ ]:
j=5
while j<10:
  print(j)
  j+=1

5
6
7
8
9